<div class="row-fluid front-content">
  <div class="span12">
    <%= editable(@page) { @page.content_for(:body) } %>
  </div><!-- end span12 -->
</div><!-- end front-content -->
<%= render '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
