<%= link_to Refinery::Core.site_name, "/", class: 'brand' %>
<div class="nav-collapse collapse navigation-top pull-right">
  <ul class="nav">
    <% Refinery::Page.fast_menu.each do |page| %>
      <li><%= link_to page.title, "/pages/#{page.id}" %></li>
    <% end %>

    <li>
      <% if Refinery::I18n.current_frontend_locale == :fr %>
        <%= link_to 'English Version',
               refinery.url_for(params.merge(locale: 'en')) %>
      <% else %>
        <%= link_to 'Version Française',
               refinery.url_for(params.merge(locale: 'fr')) %>
      <% end %>
    </li>
  </ul>
</div>
